<label>Server Name</label>
<!--<input class="form-control" type="text" (input)="onUpdateServerName($event)">-->
<input class="form-control" type="text" [(ngModel)]="serverName">

<!--<p>{{ serverName }}</p>-->
<button name="but" id="but" class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add server</button>
<!--<p [innerText]="allowNewServer"></p>-->
<!--<p>{{serverCreationStatus}}</p>-->
<p *ngIf="serverCreated">{{"Server was created! Name is " + this.serverName}}</p>
<!--<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>-->
<app-server *ngFor="let server of servers"></app-server>

<!--; else noServer en ngIf hace que en caso de no cumplirse la condicion use la template html descrita dentro de
      la ng-template class con atributo #noServer
-->

<!--
    Basicamente, cuando nosotros estamos haciendo property binding, lo que hacemos es 
    asignar codigo de nuestro componente a la propiedad. Que significa esto? que cuando hacemos 
    [property] = "", podemos poner el codigo que queramos dentro mientras el resultado final sea
    un objeto del tipo que la property quiere. Esto tiene infinidad de utilidades y asi es como podrias
    cargar una imagen, poner el texto de forma dinamica en un span, etc. Es super guay!
-->